.titelrow {
    display: flex; /*Zodat er een flexbox gemaakt word8*/
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
    
}

.logindoos{
    
    
    
}

.invulbalk1{
    
    margin-left: 20%;
    margin-right: 20%;
}
.invulbalk2{
    margin-left: 20%;
    margin-right: 20%;
}
.submitknop{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    align-items: center;
    justify-items: center;
}

.registerlink{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 30px;
    align-items: center;
    justify-items: center;
}