@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model Webapp.AddEntry

@{
    ViewData["Title"] = "Add Entry"; @*Render _Layout.cshtml*@
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Add Entry</title>
    <link rel="stylesheet" href="~/css/AddEntry.css"/>
</head>
<body>
<div>
    <form method="post" enctype="multipart/form-data">
        <span>Select Front:</span>
        <input type="file" name="frontPosted" accept="image/jpeg, image/png"/>
        <br/>
        <span>Select Back:</span>
        <input type="file" name="backPosted" accept="image/jpeg, image/png"/>
        <br/>
        <input type="submit" value="Upload" asp-page-handler="Upload" />
    </form>
</div>
</body>
</html>