@page
@model Webapp.Pages.AddEntry

@{
    ViewData["Title"] = "Add Entry"; @*Render _Layout.cshtml*@
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Add Entry</title>
    <link rel="stylesheet" href="~/css/AddEntry.css"/>
</head>
<body>
<div>
    
</div>
</body>
</html>