@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="container">

    <div class="row">
            <span class="border border-dark border-1">
                <div class="row">
                    
                    <p class="text-center" style="font-weight: bold">Recommended</p>
                    <div class="row justify-content-between m-0">
                        <div class="col-4 w-auto">
                            <img src="example.jpg" style="width: 25%; height: 25%"  class="img-rounded"/>
                            <p>Title</p></div>
                        <div class="col-4 w-auto">
                            <p>Photo</p>
                            <p>Title</p></div>
                        <div class="col-4 w-auto">
                            <p>Photo</p>
                            <p>Title</p></div>
                        <div class="col-4 w-auto">
                            <p>Photo</p>
                            <p>Title</p></div>
                        <div class="col-4 w-auto">
                            <p>Photo</p>
                            <p>Title</p></div>
                        <div class="col-4 w-auto">
                            <p>Photo</p>
                            <p>Title</p></div>
                        <div class="col-4 w-auto">
                            <p>Photo</p>
                            <p>Title</p></div>
                        
                    </div>
                </div>
                </span>
        </div>

</div>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>