@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privé beleid";
}
<h1>@ViewData["Title"]</h1>

<p>Bij het inloggen op deze website sta je toe dat jou gegevens worden gedeeld met links russische hackers die het gebruiken om China's netwerk(DDOS)
    aan te vallen met een overvloed aan mensen. Wij van MyComicList staan hier volledig achter aangezien China ons heeft benadert om de data te delen om 
    zinbabwe aan te vallen en daar staan we niet achter. Als u hier niet helemaal mee eens bent maar wel zinbabwe wilt ondersteunen kunt u ook een eenmalige 
    donatie doen op de instagram van de Febo (zie "Contacts"). Als u niet zinbabwe wilt ondersteunen verwijder dan je account maar stuur dan wel eventje 
    een mailtje met de reden voor het deactiveren van het account. </p>