@page
@model Webapp.Pages.RegisterPage

@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/LoginPageStylesheet.css"/> @*Stylesheet voor de inlogpagina*@
    <title>Register</title>
</head>
<body>
<div>
    <div class="container1"> @*De grote container waar alle inhoud in zit*@
                    <div class="titelrow"> @*De "inlog" titel*@
                        <h1 class="display-4">Register</h1>
                    </div>
                    <div class="registerbox">
                        <form>
                            <div class="invulbalk2">
                                <label for="InputName" class="form-label">UserName</label>
                                <input type="text" class="form-control" id="InputName" asp-for="@Model.Username">
                            </div>
                            <div class="invulbalk1">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        
                            </div>
        
                            <div class="invulbalk2">
                                <label for="InputPassword1" class="form-label">Password</label>
                                <input type="password" class="form-control" id="InputPassword1" asp-for="@Model.Password">
                            </div>
                            
        
                            <div class="&nbsp;">
                                <button type="submit" class="btn btn-primary">Sign-up</button>
                            </div>

                        </form>
                    </div>
                </div>
</div>
</body>
</html>