@page
@model comic1
@{ViewData["Title"] = ;}

<html lang="en">
<head>
    <title>Personal List</title>
 <link rel="stylesheet" href="~/css/comicpage" asp-append-version="true"/>
</head>

<body>
 <div>
     <h1>@Model.Name</h1>
 </div>
</body>